#header-view{
  position:fixed;
  min-height:50px;
  height:5vh;
  width:100%;
  color:#fff;
  background: $slate;
  z-index: 100;


  .header-content {
    position:relative;
    display:flex;
    background: $slate;
    justify-content: space-between;
    margin: 0 20px;
    height: 100%;
    align-items: center;;

    a {
      color:#FFB89F;
      font-size:1.1rem;
      text-decoration: none;
      font-weight: 700;
      opacity:.9;
      display:block;
      user-select: none;
      padding: 10px 30px;
      //background: orange;
      &:hover{
        opacity: 1;
      }

      &.selected{
        color:$warmRed;//  #F7C2B0;
        pointer-events: none;
        cursor:initial;
        opacity:.8;

      }
    }


  }

  @media(max-width: 1080px)  {
      .header-content {
        a {
          font-size: 1.5rem;

        }


    }

  }




}