#page-profiles {


  #profile-back-btn{
    position: fixed;
    width: 5vw;
    height:4vh;
    max-width: 40px;
    min-width:30px;
    top: 80px;
    left: 10px;
    display:flex;
    flex-direction: column;;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    z-index: $z-index-ui;
    &.reveal {
      cursor: pointer;
      transition: opacity .5s ease;
      pointer-events: all;
      opacity:.2;
      &:hover{
        opacity:.3;
      }
    }
  }


  div.avatar {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid #ddd;
    padding: 4px;

    &.small {
      width: 5rem;
      height: 5em;
    }

    div.img-container {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      overflow: hidden;;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;


      img {
        position: relative;
        min-width: 130%;

        //position:absolute;

      }

    }

  }


  article.profiles-content-holder{
    position:relative;
    .profile-item-holder{
      position:fixed;
      display:flex;
      flex-direction: column;
      align-items: center;
      left:0;
      width: 100%;
    }
  }
  #profiles-menu {

    position: relative;

    //display: flex;
    top: 10px;
    width: 100vw;
    //flex-wrap: wrap;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minMax(100px, 370px));
    grid-row-gap: 30px;
    box-sizing: border-box;
    justify-content: center;
    margin: 10px 0 100px 0;
    visibility: visible;
    // transition: all 1.5s ease-in-out;


    left: 0;
    opacity: 1;
    @keyframes bounceLeft {
      55% {
        transform: translate3d(1vw, 0px, 0);
        opacity: 1;
      }
      100% {
        transform: translate3d(-5vw, 0px, 0);
        opacity: 0;
      }
    }


    &.hide {

      animation-name: bounceLeft;
      animation-duration: .5s;
      animation-fill-mode: forwards;

      pointer-events: none;

      li{
        pointer-events: none;
      }


    }


    li {
      position: relative;
      width: 340px;

      height: 385px;
      background: $beigeLight;
      // margin: 10px;
      padding: 3.5rem;
      display: flex;
      flex-direction: column;
      pointer-events: all;
      align-items: center;
      cursor: pointer;
      box-shadow: 0 2px 2px rgba(10, 16, 20, .24), 0 0 2px rgba(10, 16, 20, .12);
      user-select: none;

      header {
        position: relative;
        text-align: center;
        margin: 10px 0 0 0;
        pointer-events: none;


        &.location {
          position: absolute;
          bottom: 30px;

          p {
            font-style: italic;;
            font-size: .8rem;
          }
        }

        p, h3, h4, h5 {
          position: relative;
          margin: 0;
          padding: 0;
        }

        color: $blue;

        h3 {
          color: $warmRed;
          margin: 0 0 4px 0;
        }


      }

    }

    @media(max-width: 1080px) and (orientation: portrait) {
      grid-template-columns: repeat(auto-fill, 90%);
      li {
        width: 94%;
        height: 70vh;

        div.avatar {
          width: 24rem;
          height: 24rem;
        }
      }
    }


  }


  @media(max-width: 1080px) and (orientation: landscape) {

    .profile-item-holder{
      width: 100%;



      .profile-item{
        flex-direction: row;
        left: 0;
        width: 80%;
        //align-items: flex-start;
        margin-top:-20px;

        align-items: center;
        justify-content: center;

        .images{
         // top: 20px;
          //width:200px;
        }

        .info{
            margin:1rem 0;
          header{
            margin:  .5rem  1rem 0 2rem;
          }

        }

      }
    }

  }



}